# Исключить виртуальные окружения
venv/
.venv/

# Исключить логи
logs/
*.log

# Исключить выходные файлы и артефакты
output/

# Исключить временные файлы
*.pyc
__pycache__/

# Исключить настройки IDE
.idea/
.vscode/

# Исключить системные файлы
.DS_Store
Thumbs.db 